html, body {
  width: 100%;
  max-width: 960px;
  margin: 0;
  background: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  margin-top: 0;
}

article {
  padding: 1em;
}

.chart {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 2em auto;
}

.tooltip {
  text-align: left;
  display: none;
  position: absolute;
  width: 300px;
  height: 90px;
  background: white;
  border-radius: 4px;
  border: 1px solid #889;
  // box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);

  p {
    margin-right: 1em;
  }

  img {
    height: 90px;
    float: left;
    margin-right: 1em;
  }
}
