@import url('https://fonts.googleapis.com/css?family=Domine:700');

html, body {
  margin: 0;
  background: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.8;
}

header, section, footer {
  max-width: 640px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Domine', serif;
  font-weight: 700;
}

h1 {
  margin: 1em 0 .5em;
  font-size: 2em;
  font-weight: normal;
}

p {
  font-size: 1.1em;
}

article {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

a {
  color: black;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 #a9a9a9;
  transition: box-shadow .2s ease;
}

a:hover {
  box-shadow: inset 0 -2px 0 black;
}

.voted-for {
  box-shadow: inset 0 -2px 0 #0571b0;
}

.voted-against {
  box-shadow: inset 0 -2px 0 #ca0020;
}

.chart {
  margin: 3em 0;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.tooltip {
  text-align: left;
  display: none;
  position: absolute;
  width: 300px;
  height: 80px;
  background: white;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #889;
  // box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);

  p {
    line-height: 1.2;
    margin: .5em 1em;
  }

  div {
    margin: .15em .5em .5em;
    font-size: 1.1em;
    float: right;
  }

  img {
    height: 80px;
    float: left;
    margin-right: 1em;
  }
}
