html, body {
  width: 100%;
  max-width: 960px;
  margin: 0;
  background: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  margin-top: 0;
}

article {
  padding: 1em;
}

.chart {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 2em auto;
}

svg text {
  fill: #3c3c3b;
}

.tooltip {
  display: none;
  position: absolute;
  width: 200px;
  height: 72px;
  background: white;
  border-radius: 4px;

  border: 1px solid black;
}

.tooltip p {
  margin: .5em;
}
